# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
venv/
env/
ENV/

# Database & local dynamic storage
data/
*.sqlite3
*.db

# Model weights (can be auto-downloaded on run)
backend/weights/*.onnx

# IDEs
.vscode/
.idea/
*.swp

# Binaries & Tunnels
tools/
*.exe

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

